.repos{
  &-row{
    background: #fff;
    border-radius: 8px;
    border-bottom: 1px solid #f2f2f2;
    &:hover{
      background-color: #ebf7ff;
      cursor: pointer;
    }  
  }

  &-cell{
    border-radius: 8px;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  & .jumbotron{
    background-color: #d8ecf5;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
  }
}